<!DOCTYPE html>
<html>
<body>

    <!-- LEVEL 1 -->
<!-- <h1 style="text-align:center;">Welcome!</h1>
<p style="display:inline-block;background-color:skyblue;height:200px;width: 200px;"></p>
<p style="display:inline-block;background-color:skyblue;height:200px;width: 200px;"></p>
<p style="display:inline-block;background-color:skyblue;height:200px;width: 200px;"></p>
</body>
</html> -->

<!--LEVEL 2 When a user visits localhost:5000/play/(x), have it display the beautiful looking blue boxes x times. -->
<!-- <h1 style="text-align:center;">Welcome!</h1>
{% for x in range (0,times): %}
    <p style="display:inline-block;background-color:skyblue;height:200px;width: 200px;"></p>
{% endfor %} -->


<!-- LEVEL 3 When a user visits localhost:5000/play/(x)/(color), have it display beautiful looking boxes x times, but this time where the boxes appear in (color).-->
<h1 style="text-align: center;">Welcome!</h1>

{% for x in range (0,times): %}
    <p style="display:inline-block;background-color:{{color}};height:200px;width: 200px;"></p>
{% endfor %} -->
</body>
</html>

